*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

$header-h: 60px;

#header {
    z-index: 4;
    height: $header-h;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s;

    > div.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-h;

        .logo {
            height: $header-h;
            img {
                width: auto;
                height: 50px;
            }
        }

        .menu{
            height: $header-h;
            ul{
                height: $header-h;
                list-style-type: none;
                display: flex;
                align-items: center;
                
                li{
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 10px; 
                    border-radius: 10px;
                    border: 1px solid #28A0F8;
                    a{
                        padding:10px;
                        text-decoration: none;
                        color: #257AF9;
                        &:hover,
                        &:active{
                            color: #fff;
                            transition: 0.2s;
                        }
                    }

                    &:hover ,
                    &:active{
                        background: #28A0F8;
                        transition: 0.2s;
                        // border-bottom: 1px solid #257AF9;
                        // transform: scale(1.2);
                    }
                }
            }
        }
    }
    &.sticky {
        background-color: rgba(32, 32, 32, 0.788);
        height: 70px;

        > div.container{

            .logo {
                height: $header-h;
                img {
                    width: auto;
                    height: 50px;
                }
            }
        }
    }
}

#tabs {

    position: relative ;
    img{
        max-width: 100%;
        height: auto;
    }
    .title{
    
    }
}


#big-title{
    z-index: 2;
    top: 500px;
    right: 500px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}









#page-1{   
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    .title{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        h1{
            font-weight: 700;
        }
    }
    
    >div.container{
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            display: flex;
            flex-direction: column;
            text-align: center;
            // background: #28A0F8;
            margin-left: 50px;
            margin-right: 50px;
            // border-radius: 100%;
            &:hover,
            &:active{
                transform: scale(1.1);
                transition: 0.2s;
            }
            img{
                max-width: 200px;
                height: 200px;
                margin-bottom: 30px;
                border-radius: 100%;
                &:hover,
                &:active{
                    box-shadow: 0px 0px 9px gray;
                }
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        
        
    }


}


#page-2{
    padding-top: 10vh;
    padding-bottom: 10vh;
    .title{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        h1{
            font-weight: 700;
        }
    }

    >div.container{
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
            border: 1px solid rgb(104, 104, 104);
            text-align: left;
            background: #fff;
            margin-left: 50px;
            margin-right: 50px;
            &:hover,
            &:active{
                transform: scale(1.1);
                transition: 0.2s;
                box-shadow: 0px 0px 9px gray;
            }
            a{
                text-decoration: none;
                color: black;
            }
            
            img{
                max-width: 200px;
                height: auto;
            }

            .text{
                margin: 5px;
            }
           
        }
    }

}


#page-3{
    padding-top: 10vh;
    padding-bottom: 10vh;
    .title{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        h1{
            font-weight: 700;
        }
    }

    >div.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .menu{
            display: flex;
            justify-content: space-between;
            ul{
                display: flex;   
                list-style-type: none;
                align-items: center;
                border-bottom: 1px solid rgb(105, 105, 105);
                
                
                li{
                    margin-left: 10px;
                    margin-right: 10px;
                   
                    a{
                        padding-left: 10px;
                        padding-right: 10px;
                        text-decoration: none;
                        color: #257AF9;
                        &:hover,
                        &:active{
                            border-bottom: 2px solid #257AF9;
                        }
                    }
                }
            }
        }
    }
}




#page-4{
    padding-top: 10vh;
    padding-bottom: 10vh;
    .title{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        h1{
            font-weight: 700;
        }
    }

    >div.container{
        div{
            border: 1px solid rgb(104, 104, 104);
            border-bottom: 4px solid #28A0F8;
            padding: 50px;
            margin-bottom: 60px;
            margin-top: 60px;
            text-align: center;
            h2{
                color: #28A0F8;
                font-weight: 700;
            }
        }
    }
}


#subscribe{
    background: #EF9B1E;
    padding: 100px;
    >div.container{
        display: flex;
        flex-direction: column;
        text-align: center ;
        h4{
            color: #fff;
            font-weight: 700;
        }
        .add{
            
            input{
                padding: 0.5rem 8rem 0.5rem 8rem;
                font-size: 20px;
            }
            button{
                padding: 0.5rem 10rem 0.5rem 10rem;
                font-size: 20px;
            }
        }
    }
}





#footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #257AF9;

    .row{
        display: flex;
        text-align: center;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                border-bottom: 1px solid white;
            }
        }

        
    }

    .copyright{
        text-align: center;
        border-bottom: 1px solid rgb(44, 44, 44);
        line-height: 60px;
        font-size: 0.8rem;
    }
}